{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="my-5">
{% for post in posts %}
{% if post.id == postid.id %}
    <div class="card mb-3 border-2 border-dark">
        <div class="card-body">
            <h3>{{post.title|safe}}</h3>
            <p>{{post.content|safe}}</p>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>

<!-- Message -->
<div class="col-sm-12" >
    <h3 class="my-5">Comment Now</h3>
    {% if messages %}
      {% for message in messages %}
        <div {% if message.tags %} class="alert alert-warning alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
          {{message}}
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
</div>
<!--Message-->
<div class="col-sm-6 my-4">
  <h3 class="form-control bg-transparent text-center">Comments...</h3>
{% for post in posts %}
{% if post.id == postid.id %}
{% for comment in post.comments.all %}
<div class="card bg-transparent border border-0 my-3">
  <div class="card-header border-bottom border-dark">
    <strong>{{comment.date_added|date:'M jS Y g:i A'}}</strong>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{comment.com|safe}}</p>
      <footer class="blockquote-footer">Comment By <cite>{{comment.name|safe}}</cite></footer>
    </blockquote>
  </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
</div>
<div class="col-sm-6 row my-4 ">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
  <h3 class="form-control bg-transparent text-center">Add Comment</h3>
  <form action="/comment/{{postid.id}}/" method="post">
  {% csrf_token %}
        <div class="mb-3">
        <div class="form-label">{{form.name.label_tag}}</div>
        {{form.name}}
        <div class="form-label">{{form.com.label_tag}}</div>
        {{form.com}}
        <small class="text-warning">{{form.errors|striptags}}</small>
        </div>
  <input type="submit" value="Comment" class="btn btn-primary">
  </form>
  </div>
</div>
{% endblock content %}